
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 188 25% 94%;
    --foreground: 184 63% 10%;
    --card: 0 0% 100%;
    --card-foreground: 184 63% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 184 63% 10%;
    --primary: 184 63% 33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 184 15% 90%;
    --secondary-foreground: 184 63% 20%;
    --muted: 184 10% 85%;
    --muted-foreground: 184 20% 40%;
    --accent: 147 58% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 184 20% 85%;
    --input: 184 20% 85%;
    --ring: 184 63% 33%;
    --radius: 0.75rem;
    --chart-1: 184 63% 33%;
    --chart-2: 147 58% 47%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --background: 184 63% 5%;
    --foreground: 184 10% 98%;
    --card: 184 63% 8%;
    --card-foreground: 184 10% 98%;
    --popover: 184 63% 8%;
    --popover-foreground: 184 10% 98%;
    --primary: 184 63% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 184 40% 15%;
    --secondary-foreground: 184 10% 98%;
    --muted: 184 40% 15%;
    --muted-foreground: 184 10% 65%;
    --accent: 147 58% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 98%;
    --border: 184 40% 15%;
    --input: 184 40% 15%;
    --ring: 184 63% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
}
